<%- include('navbar') %>
  <!-- Main Content -->
  <main class="content">
    <h4 class="text-center">Dashboard Overview</h4>

    <!-- Cards -->
    <div class="cards">
      <div class="card">
         <h3 class="text-dark fw-bold">Total Users Inquireyis </h3>
        <h3 class="text-dark"> <%= totalUsers  %>   </h3>
      </div>
       </div>
  </main>
</div>

<%- include('footer') %>
