<%- include('navbar') %>


<main class="content">
<h4 class="text-center">welcome admin  in gallery Overview</h4>

    <!-- Cards -->
    <div class="cards">
     <div class="container mt-4">

  <table class="table table-bordered table-hover align-middle text-center">
    <thead class="table-dark">
      <tr>
        <th>#</th>
        <th>Module Name</th>
        <th>View</th>
        <th>Add</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td class="fw-bold">Gallery</td>
        <td>
          <a href="/admin/gallery/view_gallery" class="btn btn-warning btn-sm">
            View gallery
          </a>
        </td>
        <td>
          <a href="/admin/gallery/add_gallery" class="btn btn-success btn-sm">
            Add Gallery
          </a>
        </td>
      </tr>
    <tr>
      
    </tbody>

  </table>

</div>

      
       </div>
  </main>
</div>

<%- include('footer') %>